/* 1. část - ÚVODNÍ STRÁNA */

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 47px;
  color: #ffffff;
  margin: 1.8rem 0 1.8rem 0;
}

.opening {
  flex-basis: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #283e50;
  color: #ffffff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin-top: 3rem;
  overflow: auto;
}
.card__text__uvodni,
.rules__seznam {
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}
#img__uvodni {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card__button__green,
.card__button__blue {
  width: 100%;
  height: 3.5rem;
  font-size: 15px;
  cursor: pointer;
  border-style: none;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}
.card__button__green {
  background-color: #1fcca4;
}

.card__button__blue {
  background-color: #0197f6;
  border-top: #516c83;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

.card__button__green:hover {
  background-color: #1cbb96;
}

.card__button__blue:hover {
  background-color: #0090e9;
}

/* 2. část - PRAVIDLA HRY  */

.prvni__body {
  display: flex;
  justify-content: center;
}

.img__setup {
  width: 100%;
}

.img__icons {
  filter: invert(1);
  height: 1em;
}

figcaption {
  font-style: italic;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.rules__seznam {
  text-align: left;
  margin: 0.5rem 1.7rem 1rem 1.5rem;
}
li {
  margin-top: 0.7rem;
}

@media (min-width: 480px) {
  .opening {
    max-width: 70vw;
  }
  .imgs__setup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .imgs__setup figure {
    width: 40%;
    margin: 0.5rem 0 0.5rem 0;
  }
}

@media (min-width: 768px) {
  .opening {
    max-width: 65vw;
  }
  .imgs__setup figure {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .opening {
    max-width: 60vw;
  }
}

@media (min-width: 1200px) {
  .opening {
    max-width: 50vw;
  }
  .imgs__setup figure {
    width: 35%;
  }
}
@media (min-width: 1800px) {
  .opening {
    width: 40vw;
  }
  .imgs__setup figure {
    width: 30%;
  }
}
/* 3. část - VYTVOŘENÍ HRACÍHO POLE  */

.card__game {
  color: #ffffff;
  font-family: 'OpenSans', sans-serif;
  max-width: 80vmin;
}
.card__body__game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle__game {
  filter: invert(1);
  width: 1.7rem;
  margin-left: 0.5rem;
}
.home__icon {
  background-color: #1fcca4;
  margin-right: 0.5rem;
}
.restart__icon {
  background-color: #0197f6;
}

.home__icon:hover {
  background-color: #1cbb96;
}
.home__icon:focus {
  background-color: #1cbb96;
}
.restart__icon:hover {
  background-color: #0090e9;
}
.restart__icon:focus {
  background-color: #0090e9;
}

.restart__icon,
.home__icon {
  height: 3rem;
  width: 2.7rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}
.game__turns span {
  font-family: 'OpenSans', sans-serif;
  font-size: 25px;
}

.game__grid button {
  aspect-ratio: 1 / 1;
  width: calc(100% / 10);
  cursor: pointer;
  background-color: rgb(204, 190, 214);
  border: 1.5px solid rgb(60, 56, 65);
  line-height: 0;
}

.game__grid button:hover {
  background-color: rgb(216, 206, 224);
}
.game__grid button:focus {
  background-color: rgb(216, 206, 224);
}
.homerestart__icons {
  margin-bottom: 1.5rem;
}
.game__grid {
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}
.game__panel {
  display: flex;
  justify-content: space-between;
}
.game__turns {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.game__header {
  text-align: center;
}
